In [1]:
import csv
import datetime
import pandas as pd
import numpy as np

# load data
df = pd.read_csv("mlbbatting1901-2021.csv")
df.Date = df.Date.apply(lambda x: datetime.datetime.strptime(x[:4] + x[5:7] + x[8:10], '%Y%m%d'))

print(df)

                ID            Player       Date   Tm  Opp    Rslt  PA  AB  R  \
0        crossmo01       Monte Cross 1901-04-18  PHI  BRO  L 7-12   5   4  2
1        dahlebi01       Bill Dahlen 1901-04-18  BRO  PHI  W 12-7   5   4  2
2         dalyto01          Tom Daly 1901-04-18  BRO  PHI  W 12-7   5   5  1
3        davisle01       Lefty Davis 1901-04-18  BRO  PHI  W 12-7   5   5  1
4        delahed01      Ed Delahanty 1901-04-18  PHI  BRO  L 7-12   5   4  1
...            ...               ...        ...  ...  ...     ...  ..  .. ..
4285624  woodfja01     Jake Woodford 2021-10-03  STL  CHC   L 2-3   2   1  0
4285625  yastrmi01  Mike Yastrzemski 2021-10-03  SFG  SDP  W 11-4   4   3  1
4285626  zimmebr01    Bradley Zimmer 2021-10-03  CLE  TEX   W 6-0   4   4  1
4285627  zimmery01    Ryan Zimmerman 2021-10-03  WSN  BOS   L 5-7   4   3  0
4285628  zuninmi01       Mike Zunino 2021-10-03  TBR  NYY   L 0-1   4   4  0

         H  ...  GDP  SB   CS    WPA   RE24    aLI  BOP  Pos Summary  DFS(DK)  \
0        2  ...  NaN   0  NaN    NaN    NaN    NaN    8           SS      NaN
1        3  ...  NaN   2  NaN    NaN    NaN    NaN    7           SS      NaN
2        2  ...  NaN   0  NaN    NaN    NaN    NaN    6           2B      NaN
3        1  ...  NaN   0  NaN    NaN    NaN    NaN    1           LF      NaN
4        2  ...  NaN   0  NaN    NaN    NaN    NaN    3           1B      NaN
...     ..  ...  ...  ..  ...    ...    ...    ...  ...          ...      ...
4285624  0  ...  0.0   0  0.0 -0.045 -0.413  1.530    9            P      NaN
4285625  1  ...  0.0   0  0.0  0.023  1.648  0.570    7           CF     13.0
4285626  2  ...  0.0   2  0.0  0.065  0.828  0.442    6           RF     20.0
4285627  0  ...  0.0   0  0.0 -0.051 -0.356  1.565    5           1B      4.0
4285628  0  ...  0.0   0  0.0 -0.184 -1.214  1.633    7            C      0.0

         DFS(FD)
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
4285624      NaN
4285625     19.2
4285626     24.7
4285627      6.5
4285628      0.0

[4285629 rows x 31 columns]

In [3]:
# drop "Deadball Era" data & players with PA less than 100
c_deadball = datetime.datetime.strptime("1920-01-01", "%Y-%m-%d")
df_filtered = df.drop(df[df.Date < c_deadball].index, axis=0)
df_filtered = df_filtered.groupby('ID').filter(lambda x: x['PA'].sum() >= 100)

df_filtered.head(10)

,ID,Player,Date,Tm,Opp,Rslt,PA,AB,R,H,...,GDP,SB,CS,WPA,RE24,aLI,BOP,Pos Summary,DFS(DK),DFS(FD)
476088,adamsba01,Babe Adams,1920-04-14,PIT,STL,W 5-4,4,4,0,0,...,NaN,0,0.0,-0.139,-1.231,1.680,9,P,NaN,NaN
476089,ainsmed01,Eddie Ainsmith,1920-04-14,DET,CHW,L 2-3,1,1,0,0,...,NaN,0,1.0,NaN,NaN,NaN,8,C,NaN,NaN
476090,alexape01,Pete Alexander,1920-04-14,CHC,CIN,L 3-7,3,3,0,2,...,NaN,0,0.0,0.240,1.872,2.027,9,P,NaN,NaN
476091,austiji01,Jimmy Austin,1920-04-14,SLB,CLE,L 0-5,4,3,0,1,...,NaN,0,0.0,-0.012,-0.249,0.430,1,3B,NaN,NaN
476092,bancrda01,Dave Bancroft,1920-04-14,PHI,BRO,L 2-9,5,5,0,0,...,NaN,0,0.0,-0.061,-0.516,0.466,1,SS,NaN,NaN
476093,barbetu01,Turner Barber,1920-04-14,CHC,CIN,L 3-7,4,3,0,0,...,NaN,0,0.0,-0.013,-0.260,0.740,4,1B,NaN,NaN
476094,bigbeca01,Carson Bigbee,1920-04-14,PIT,STL,W 5-4,6,5,0,2,...,NaN,0,0.0,0.193,1.004,1.435,1,LF,NaN,NaN
476095,boeckto01,Tony Boeckel,1920-04-14,BSN,NYG,W 6-3,4,4,1,1,...,NaN,0,0.0,0.066,0.313,0.345,6,3B,NaN,NaN
476096,burnsge01,George Burns,1920-04-14,NYG,BSN,L 3-6,5,5,1,2,...,NaN,0,0.0,0.035,-0.351,0.742,1,LF,NaN,NaN
476097,bushdo01,Donie Bush,1920-04-14,DET,CHW,L 2-3,5,5,0,0,...,NaN,0,0.0,NaN,NaN,NaN,1,SS,NaN,NaN

In [4]:
# Win or Lose
df_filtered.Rslt = df_filtered.Rslt.apply(lambda x: x[0] == "W")

df_filtered.head(10)

,ID,Player,Date,Tm,Opp,Rslt,PA,AB,R,H,...,GDP,SB,CS,WPA,RE24,aLI,BOP,Pos Summary,DFS(DK),DFS(FD)
476088,adamsba01,Babe Adams,1920-04-14,PIT,STL,True,4,4,0,0,...,NaN,0,0.0,-0.139,-1.231,1.680,9,P,NaN,NaN
476089,ainsmed01,Eddie Ainsmith,1920-04-14,DET,CHW,False,1,1,0,0,...,NaN,0,1.0,NaN,NaN,NaN,8,C,NaN,NaN
476090,alexape01,Pete Alexander,1920-04-14,CHC,CIN,False,3,3,0,2,...,NaN,0,0.0,0.240,1.872,2.027,9,P,NaN,NaN
476091,austiji01,Jimmy Austin,1920-04-14,SLB,CLE,False,4,3,0,1,...,NaN,0,0.0,-0.012,-0.249,0.430,1,3B,NaN,NaN
476092,bancrda01,Dave Bancroft,1920-04-14,PHI,BRO,False,5,5,0,0,...,NaN,0,0.0,-0.061,-0.516,0.466,1,SS,NaN,NaN
476093,barbetu01,Turner Barber,1920-04-14,CHC,CIN,False,4,3,0,0,...,NaN,0,0.0,-0.013,-0.260,0.740,4,1B,NaN,NaN
476094,bigbeca01,Carson Bigbee,1920-04-14,PIT,STL,True,6,5,0,2,...,NaN,0,0.0,0.193,1.004,1.435,1,LF,NaN,NaN
476095,boeckto01,Tony Boeckel,1920-04-14,BSN,NYG,True,4,4,1,1,...,NaN,0,0.0,0.066,0.313,0.345,6,3B,NaN,NaN
476096,burnsge01,George Burns,1920-04-14,NYG,BSN,False,5,5,1,2,...,NaN,0,0.0,0.035,-0.351,0.742,1,LF,NaN,NaN
476097,bushdo01,Donie Bush,1920-04-14,DET,CHW,False,5,5,0,0,...,NaN,0,0.0,NaN,NaN,NaN,1,SS,NaN,NaN

In [5]:
# select columns
df_selected = df_filtered.loc[:, ["ID", "Player", "Date", "Tm", "Rslt", "PA", "AB", "R", "H", "2B", "3B", "HR", "RBI", "BB", "SO", "HBP", "SH", "SB", "BOP", "SF", "Pos Summary", "aLI", "WPA"]]
df_selected["SF"] = df_selected["SF"].replace(np.nan, 0)

df_selected.head(10)

,ID,Player,Date,Tm,Rslt,PA,AB,R,H,2B,...,BB,SO,HBP,SH,SB,BOP,SF,Pos Summary,aLI,WPA
476088,adamsba01,Babe Adams,1920-04-14,PIT,True,4,4,0,0,0,...,0,3,0,0,0,9,0.0,P,1.680,-0.139
476089,ainsmed01,Eddie Ainsmith,1920-04-14,DET,False,1,1,0,0,0,...,0,1,0,0,0,8,0.0,C,NaN,NaN
476090,alexape01,Pete Alexander,1920-04-14,CHC,False,3,3,0,2,0,...,0,1,0,0,0,9,0.0,P,2.027,0.240
476091,austiji01,Jimmy Austin,1920-04-14,SLB,False,4,3,0,1,0,...,1,2,0,0,0,1,0.0,3B,0.430,-0.012
476092,bancrda01,Dave Bancroft,1920-04-14,PHI,False,5,5,0,0,0,...,0,0,0,0,0,1,0.0,SS,0.466,-0.061
476093,barbetu01,Turner Barber,1920-04-14,CHC,False,4,3,0,0,0,...,0,1,1,0,0,4,0.0,1B,0.740,-0.013
476094,bigbeca01,Carson Bigbee,1920-04-14,PIT,True,6,5,0,2,1,...,1,0,0,0,0,1,0.0,LF,1.435,0.193
476095,boeckto01,Tony Boeckel,1920-04-14,BSN,True,4,4,1,1,1,...,0,1,0,0,0,6,0.0,3B,0.345,0.066
476096,burnsge01,George Burns,1920-04-14,NYG,False,5,5,1,2,0,...,0,0,0,0,0,1,0.0,LF,0.742,0.035
476097,bushdo01,Donie Bush,1920-04-14,DET,False,5,5,0,0,0,...,0,1,0,0,0,1,0.0,SS,NaN,NaN

In [6]:
# WPA for High-Leverage PA

high_leverage_threshold = 1.5
df_high_leverage = df_selected[df_selected['aLI'] > high_leverage_threshold]

df_high_leverage = df_high_leverage.groupby(["ID"]).agg(WPA_total=("WPA", "sum"), High_Leverage_PA_total=("PA", "sum")).reset_index()
df_high_leverage["WPA_per_High_Leverage_PA"] = df_high_leverage["WPA_total"] / df_high_leverage["High_Leverage_PA_total"]

df_high_leverage.head(10)

          ID  WPA_total  High_Leverage_PA_total  WPA_per_High_Leverage_PA
0  aaronha01     15.799                    2219                  0.007120
1  aaronto01     -4.792                     211                 -0.022711
2  abbotje01      0.294                      84                  0.003500
3  abbotku01     -0.154                     341                 -0.000452
4   aberal01     -0.588                      21                 -0.028000
5  abercre01     -1.036                      34                 -0.030471
6  abernbr01     -3.129                     176                 -0.017778
7  abernte02     -0.696                      38                 -0.018316
8  aberscl01      0.255                      20                  0.012750
9  abnersh01     -1.557                     154                 -0.010110

In [7]:
# Streakiness Score

df_streakiness_score = df_filtered.loc[:, ["ID", "Date", "H"]].sort_values(['ID', 'Date'])
df_streakiness_score['Hits_Rolling_Std'] = df_streakiness_score.groupby('ID')['H'].transform(lambda x: x.rolling(10, min_periods=1).std())
df_streakiness_score = df_streakiness_score.groupby('ID')['Hits_Rolling_Std'].mean().reset_index()

df_streakiness_score.head(10)

          ID  Hits_Rolling_Std
0  aaronha01          0.911988
1  aaronto01          0.739198
2  abbotje01          0.855905
3  abbotku01          0.797247
4   aberal01          0.321091
5  abercre01          0.750012
6  abernbr01          0.908542
7  abernte02          0.333565
8  aberscl01          0.791516
9  abnersh01          0.659326

In [25]:
# group data by ID and 
df_grouped = df_selected.groupby(["ID", "Player"]).agg(Win=("Rslt", "sum"), Game=("Rslt", "count"), PA=("PA", "sum"), AB=("AB", "sum"), Run=("R", "sum"), Hit=("H", "sum"), TwoBase=("2B", "sum"), ThreeBase=("3B", "sum"), HomeRun=("HR", "sum"), BB=("BB", "sum"), SF=("SF", "sum"), HBP=("HBP", "sum"), SB=("SB", "sum"), Date_min=("Date", "min"), Date_max=("Date", "max"))
df_grouped = df_grouped.rename(columns={"Hit": "H", "TwoBase": "2B", "ThreeBase": "3B", "HomeRun": "HR"})
df_grouped = df_grouped.reset_index()

df_grouped.head(10)

,ID,Player,Win,Game,PA,AB,Run,H,2B,3B,HR,BB,SF,HBP,SB,Date_min,Date_max
0,aaronha01,Henry Aaron,1692,3234,13666,12121,2128,3703,614,96,740,1372,120.0,32,240,1954-04-13,1976-10-03
1,aaronto01,Tommie Aaron,161,373,1045,944,99,216,42,6,13,85,6.0,0,9,1962-04-10,1971-09-26
2,abbotje01,Jeff Abbott,98,212,651,596,82,157,33,2,18,38,7.0,3,6,1997-06-10,2001-09-29
3,abbotku01,Kurt Abbott,308,665,2227,2044,268,523,109,23,62,133,12.0,17,20,1993-09-09,2001-04-13
4,aberal01,Al Aber,33,67,116,99,5,13,0,0,0,8,1.0,0,0,1950-09-15,1957-07-14
5,abercre01,Reggie Abercrombie,63,140,421,386,56,86,20,2,9,21,2.0,7,14,2006-04-04,2008-09-28
6,abernbr01,Brent Abernathy,91,230,955,868,97,212,36,5,8,60,4.0,7,21,2001-06-25,2005-09-29
7,abernte02,Ted Abernathy,104,156,204,180,12,25,3,0,0,7,0.0,2,0,1955-05-01,1972-09-04
8,aberscl01,Cliff Aberson,24,63,205,179,25,45,7,3,5,26,0.0,0,0,1947-07-18,1949-05-09
9,abnersh01,Shawn Abner,157,323,902,840,81,191,39,4,11,43,7.0,7,6,1987-09-08,1992-10-03

In [26]:
# Add time info to player name
df_time_added = df_grouped
df_time_added["Player"] = df_grouped.apply(lambda x: x.Player + "(" + x.Date_min.strftime("%Y") + "~" + x.Date_max.strftime("%Y") + ")", axis=1)

df_time_added.head(10)

,ID,Player,Win,Game,PA,AB,Run,H,2B,3B,HR,BB,SF,HBP,SB,Date_min,Date_max
0,aaronha01,Henry Aaron(1954~1976),1692,3234,13666,12121,2128,3703,614,96,740,1372,120.0,32,240,1954-04-13,1976-10-03
1,aaronto01,Tommie Aaron(1962~1971),161,373,1045,944,99,216,42,6,13,85,6.0,0,9,1962-04-10,1971-09-26
2,abbotje01,Jeff Abbott(1997~2001),98,212,651,596,82,157,33,2,18,38,7.0,3,6,1997-06-10,2001-09-29
3,abbotku01,Kurt Abbott(1993~2001),308,665,2227,2044,268,523,109,23,62,133,12.0,17,20,1993-09-09,2001-04-13
4,aberal01,Al Aber(1950~1957),33,67,116,99,5,13,0,0,0,8,1.0,0,0,1950-09-15,1957-07-14
5,abercre01,Reggie Abercrombie(2006~2008),63,140,421,386,56,86,20,2,9,21,2.0,7,14,2006-04-04,2008-09-28
6,abernbr01,Brent Abernathy(2001~2005),91,230,955,868,97,212,36,5,8,60,4.0,7,21,2001-06-25,2005-09-29
7,abernte02,Ted Abernathy(1955~1972),104,156,204,180,12,25,3,0,0,7,0.0,2,0,1955-05-01,1972-09-04
8,aberscl01,Cliff Aberson(1947~1949),24,63,205,179,25,45,7,3,5,26,0.0,0,0,1947-07-18,1949-05-09
9,abnersh01,Shawn Abner(1987~1992),157,323,902,840,81,191,39,4,11,43,7.0,7,6,1987-09-08,1992-10-03

In [29]:
# calculate various metrics
df_calculated = df_time_added

df_calculated["1B"] = df_calculated["H"] - df_calculated["2B"] - df_calculated["3B"] - df_calculated["HR"]
df_calculated["XBH"] = df_calculated["2B"] + df_calculated["3B"] + df_calculated["HR"]
df_calculated["AVG"] = df_calculated["H"] / df_calculated["AB"]
df_calculated["SLG"] = (df_calculated["1B"] + 2 * df_calculated["2B"] + 3 * df_calculated["3B"] + 4 * df_calculated["HR"]) / df_calculated["AB"]
df_calculated["OBP"] = (df_calculated["H"] + df_calculated["BB"] + df_calculated["HBP"]) / (df_calculated["AB"] + df_calculated["BB"] + df_calculated["HBP"] + df_calculated["SF"])
df_calculated["OPS"] = df_calculated["SLG"] + df_calculated["OBP"]
df_calculated["Hard_Hit_Efficiency"] = df_calculated["XBH"] / df_calculated["AB"]
df_calculated["Speed_Score"] = (df_calculated["SB"] + df_calculated["2B"] + df_calculated["3B"]) / df_calculated["PA"]
df_calculated["Runs_per_PA"] = df_calculated["Run"] / df_calculated["PA"]

df_calculated["1B_per_PA"] = df_calculated["1B"] / df_calculated["PA"]
df_calculated["2B_per_PA"] = df_calculated["2B"] / df_calculated["PA"]
df_calculated["3B_per_PA"] = df_calculated["3B"] / df_calculated["PA"]
df_calculated["HR_per_PA"] = df_calculated["HR"] / df_calculated["PA"]
df_calculated["BB_per_PA"] = df_calculated["BB"] / df_calculated["PA"]
df_calculated["SB_per_PA"] = df_calculated["SB"] / df_calculated["PA"]
df_calculated["HBP_per_PA"] = df_calculated["HBP"] / df_calculated["PA"]
df_calculated["SF_per_PA"] = df_calculated["SF"] / df_calculated["PA"]

df_calculated.head(10)

,ID,Player,Win,Game,PA,AB,Run,H,2B,3B,...,Speed_Score,Runs_per_PA,1B_per_PA,2B_per_PA,3B_per_PA,HR_per_PA,BB_per_PA,SB_per_PA,HBP_per_PA,SF_per_PA
0,aaronha01,Henry Aaron(1954~1976),1692,3234,13666,12121,2128,3703,614,96,...,0.069516,0.155715,0.164862,0.044929,0.007025,0.054149,0.100395,0.017562,0.002342,0.008781
1,aaronto01,Tommie Aaron(1962~1971),161,373,1045,944,99,216,42,6,...,0.054545,0.094737,0.148325,0.040191,0.005742,0.012440,0.081340,0.008612,0.000000,0.005742
2,abbotje01,Jeff Abbott(1997~2001),98,212,651,596,82,157,33,2,...,0.062980,0.125960,0.159754,0.050691,0.003072,0.027650,0.058372,0.009217,0.004608,0.010753
3,abbotku01,Kurt Abbott(1993~2001),308,665,2227,2044,268,523,109,23,...,0.068253,0.120341,0.147732,0.048945,0.010328,0.027840,0.059722,0.008981,0.007634,0.005388
4,aberal01,Al Aber(1950~1957),33,67,116,99,5,13,0,0,...,0.000000,0.043103,0.112069,0.000000,0.000000,0.000000,0.068966,0.000000,0.000000,0.008621
5,abercre01,Reggie Abercrombie(2006~2008),63,140,421,386,56,86,20,2,...,0.085511,0.133017,0.130641,0.047506,0.004751,0.021378,0.049881,0.033254,0.016627,0.004751
6,abernbr01,Brent Abernathy(2001~2005),91,230,955,868,97,212,36,5,...,0.064921,0.101571,0.170681,0.037696,0.005236,0.008377,0.062827,0.021990,0.007330,0.004188
7,abernte02,Ted Abernathy(1955~1972),104,156,204,180,12,25,3,0,...,0.014706,0.058824,0.107843,0.014706,0.000000,0.000000,0.034314,0.000000,0.009804,0.000000
8,aberscl01,Cliff Aberson(1947~1949),24,63,205,179,25,45,7,3,...,0.048780,0.121951,0.146341,0.034146,0.014634,0.024390,0.126829,0.000000,0.000000,0.000000
9,abnersh01,Shawn Abner(1987~1992),157,323,902,840,81,191,39,4,...,0.054324,0.089800,0.151885,0.043237,0.004435,0.012195,0.047672,0.006652,0.007761,0.007761

In [30]:
# join dataframes
df_joined = df_calculated.merge(df_high_leverage, on="ID").merge(df_streakiness_score, on="ID")

df_joined.head(10)

,ID,Player,Win,Game,PA,AB,Run,H,2B,3B,...,3B_per_PA,HR_per_PA,BB_per_PA,SB_per_PA,HBP_per_PA,SF_per_PA,WPA_total,High_Leverage_PA_total,WPA_per_High_Leverage_PA,Hits_Rolling_Std
0,aaronha01,Henry Aaron(1954~1976),1692,3234,13666,12121,2128,3703,614,96,...,0.007025,0.054149,0.100395,0.017562,0.002342,0.008781,15.799,2219,0.007120,0.911988
1,aaronto01,Tommie Aaron(1962~1971),161,373,1045,944,99,216,42,6,...,0.005742,0.012440,0.081340,0.008612,0.000000,0.005742,-4.792,211,-0.022711,0.739198
2,abbotje01,Jeff Abbott(1997~2001),98,212,651,596,82,157,33,2,...,0.003072,0.027650,0.058372,0.009217,0.004608,0.010753,0.294,84,0.003500,0.855905
3,abbotku01,Kurt Abbott(1993~2001),308,665,2227,2044,268,523,109,23,...,0.010328,0.027840,0.059722,0.008981,0.007634,0.005388,-0.154,341,-0.000452,0.797247
4,aberal01,Al Aber(1950~1957),33,67,116,99,5,13,0,0,...,0.000000,0.000000,0.068966,0.000000,0.000000,0.008621,-0.588,21,-0.028000,0.321091
5,abercre01,Reggie Abercrombie(2006~2008),63,140,421,386,56,86,20,2,...,0.004751,0.021378,0.049881,0.033254,0.016627,0.004751,-1.036,34,-0.030471,0.750012
6,abernbr01,Brent Abernathy(2001~2005),91,230,955,868,97,212,36,5,...,0.005236,0.008377,0.062827,0.021990,0.007330,0.004188,-3.129,176,-0.017778,0.908542
7,abernte02,Ted Abernathy(1955~1972),104,156,204,180,12,25,3,0,...,0.000000,0.000000,0.034314,0.000000,0.009804,0.000000,-0.696,38,-0.018316,0.333565
8,aberscl01,Cliff Aberson(1947~1949),24,63,205,179,25,45,7,3,...,0.014634,0.024390,0.126829,0.000000,0.000000,0.000000,0.255,20,0.012750,0.791516
9,abnersh01,Shawn Abner(1987~1992),157,323,902,840,81,191,39,4,...,0.004435,0.012195,0.047672,0.006652,0.007761,0.007761,-1.557,154,-0.010110,0.659326

In [31]:
# write csv

df_joined.to_csv(path_or_buf="data_processed.csv", index=False)